body {
    margin: 0;
    padding: 0;
    background-image: url('/images/9068732.jpg'); 
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #ff6666; /* Red header */
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive; /* Romantic font */
}

.content {
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 24px;
    color: #ff0066; /* Pink text color */
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: 2px solid #ff0066; /* Pink border */
    background-color: transparent; /* Transparent background */
    color: #ff0066; /* Pink text color */
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: #ff0066; /* Pink background on hover */
    color: white; /* White text color on hover */
}

.yesBtn {
    background-color: #ff9999; /* Light red button */
    color: white;
    margin-right: 10px;
}

.noBtn {
    background-color: #ffb3b3; /* Light pink button */
    color: white;
}

footer {
    background-color: #ff6666; /* Red footer */
    padding: 0px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Pacifico', cursive; /* Romantic font */
}
